<form onkeypress="return event.keyCode != 13;">
  <div class="titem">
    <span class="titem_id" style="display: none;">0</span>
    <div class="row">
      <div class="col-lg-12">
        <h1>nový termín</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <span title="Označuje statut podle důvěryhodnosti informací a termínu: &#13;- terminologické (schválené Terminologickou komisí) &#13;   - používané (používané, ale nezařazené mezi terminologické termíny) &#13;   - používané nezpracované (zatím nezpracované Terminologickou komisí) &#13;   - odmítnuté (zamítnuté/smazané kandidátní termíny z automaticky navržených)   ">
          <span class="badge badge-2">používaný</span>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 defs">
        <ol>
          <li class="def">definice nového termínu</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="row edit-row">
    <div class="col-lg-12">
      <div id="edit_div">
        <div class="row">
          <div class="col-lg-12">
            <a href="#" onclick="edit_id(); return false;" type="button" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-pencil"></span>
                    Editovat
                  </a>
          </div>
        </div>
      </div>
      <div id="edit_form" style="display: none; font-size: 90%;">
        <div id="required_message" class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign"></span>
          Vyplňte prosím všechny povinné prvky (vyznačené červeně).
        </div>
        <fieldset>
          <div class="row">
            <div class="col-lg-12 term-info">
              <div class="box-heading"><span clas="glyphicon glyphicon-cog"></span> Heslo
              </div>
              <div class="box-inside">
                <div class="row">
                  <div class="col-lg-2">
                    <span class="term-info-text">ID</span>
                    <input type="text" id="edit_form_id" class="form-control" disabled="true" />
                  </div>
                  <div class="col-lg-2">
                    <span class="term-info-text">Jazyk</span>
                    <input type="text" id="edit_form_lang" class="form-control" disabled="true" />
                  </div>
                  <div class="col-lg-2">
                    <span class="term-info-text">Index</span>
                    <input type="text" id="edit_form_index" class="form-control" disabled="true" />
                  </div>
                  <div class="col-lg-6">
                    <span class="term-info-text">Status</span>
                    <select id="edit_form_status" class="form-control">
                      <option value="1">terminologický</option>
                      <option value="2">používaný</option>
                      <option value="3">používaný nezpracovaný</option>
                      <option value="4">odmítnutný</option>
                      <option value="5">automatický</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="row row-pad">
            <div class="col-lg-12 refs">
              <div class="box-heading"><i class="fa fa-file-text"></i> Termíny
              </div>
              <div class="box-inside">
                <table id="edit_form_terms_table">
                  <thead>
                    <tr>
                      <th class="term-info-text">Číslo</th>
                      <th class="term-info-text">Jazyk</th>
                      <th class="term-info-text">Termín</th>
                      <th class="term-info-text">Ref.</th>
                      <th class="term-info-text">Morf.</th>
                      <th class="term-info-text">Zkratka</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="ttmpl" style="display: none;">
                      <td style="width: 7%">
                        <input title="Číslo" type="number" min="1" max="10" class="num required form-control" />
                      </td>
                      <td style="width: 10%">
                        <select title="Jazyk" class="lng required form-control">
                          <option value="cs">cs</option>
                          <option value="sk">sk</option>
                          <option value="en">en</option>
                          <option value="de">de</option>
                          <option value="fr">fr</option>
                          <option value="ru">ru</option>
                        </select>
                      </td>
                      <td style="width:25 %">
                        <input title="Termín" type="text" name="term" class="required form-control" />
                      </td>
                      <td style="width: 7%">
                        <input title="Odkaz na termín" type="number" name="refno" min="1" max="10" class="form-control" />
                      </td>
                      <td style="width: 7%">
                        <input title="Morfologie" type="text" name="morf" class="form-control" />
                      </td>
                      <td style="width: 7%">
                        <input title="Termín je zkratkou" type="checkbox" name="is_abbr" class="form-control input-abbr" />
                      </td>
                      <td style="width: 7%">
                        <button type="button" class="btn btn-default" onclick="$(this).closest('tr').remove(); return false;">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>
                      </td>
                      <td class="autotr" style="display: none; width: 32%">
                        <input type="button" class="btn btn-default" onclick="trans_cand(this); return false;" value="Návrh" />
                      </td>
                    </tr>
                  </tbody>
                </table>
                <button type="button" class="btn btn-default" onclick="add_input(this); return false;">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="row row-pad">
            <div class="col-lg-12 refs">
              <div class="box-heading"><i class="fa fa-file-text"></i> Definice
              </div>
              <div class="box-inside">
                <table id="edit_form_defs_table">
                  <thead>
                    <tr>
                      <th>Číslo</th>
                      <th>Znění definice</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="ttmpl" style="display: none;">
                      <td>
                        <input title="číslo definice" type="number" min="1" max="10" class="num required form-control" />
                      </td>
                      <td class="td-textarea">
                        <textarea title="znění definice" rows="2" class="required form-control"></textarea>
                      </td>
                      <td>
                        <button type="button" class="btn btn-default" onclick="$(this).closest('tr').remove(); return false;">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <button type="button" class="btn btn-default" onclick="add_input(this); return false;">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="row row-pad">
            <div class="col-lg-12 refs">
              <div class="box-heading"><i class="fa fa-map-signs"></i> Obory
              </div>
              <div class="box-inside">
                <table id="edit_form_domains_table">
                  <tbody>
                    <tr class="ttmpl" style="display: none;">
                      <td>
                        <button class="btn btn-default not-button">
                          <i class="fa fa-circle"></i>
                        </button>
                      </td>
                      <td class="td-input">
                        <input title="doména" type="text" class="required form-control" />
                      </td>
                      <td>
                        <button type="button" class="btn btn-default" onclick="$(this).closest('tr').remove(); return false;">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <button type="button" class="btn btn-default" onclick="add_input(this); return false;">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="row row-pad">
            <div class="col-lg-12 refs">
              <div class="box-heading"><span class="glyphicon glyphicon-book"></span>
                 Reference
               </div>
              <div class="box-inside">
                <table id="edit_form_refs_table">
                  <tbody>
                    <tr class="ttmpl" style="display: none;">
                      <td>
                        <button class="btn btn-default not-button">
                          <i class="fa fa-circle"></i>
                        </button>
                      </td>
                      <td class="td-input">
                        <input title="reference, odkaz" type="text" class="required form-control" />
                      </td>
                      <td>
                        <button type="button" class="btn btn-default" onclick="$(this).closest('tr').remove(); return false;">
                          <span class="glyphicon glyphicon-remove"></span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <button type="button" class="btn btn-default" onclick="add_input(this); return false;">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="row row-pad">
            <div class="col-lg-12">
              <div class="links">
                <div class="box-heading"><i class="fa fa-mouse-pointer"></i> Odkazy
                </div>
                <div class="box-inside">
                  <div class="row">
                    <div class="col-lg-12 ">
                      <div class="box-heading second-level"><i class="fa fa-thumb-tack"></i>
                        Nadřazené pojmy
                      </div>
                      <div class="box-inside second-level">
                        <table id="edit_form_hyper_table">
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>Hyperonymum</th>
                              <th></th>
                              <th>Návrhy</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="ttmpl" style="display: none;">
                              <td style="width: 20%">
                                <input title="Zadání hyperonyma pomocí ID" type="text" size="3" class="hyper-search required form-control disabled" />
                              </td>
                              <td style="width: 50%">
                                <input type="text" title="Zadání hyperonyma textem" class="link form-control td-input" name="h" autocomplete="off" />
                              </td>
                              <td>
                                <button type="button" class="btn btn-default" onclick="$(this).closest('tr').remove(); return false;">
                                  <span class="glyphicon glyphicon-remove"></span>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <button type="button" class="btn btn-default" onclick="add_input(this); hyper_search(); return false;">
                          <span class="glyphicon glyphicon-plus"></span>
                        </button>
                      </div>
                    </div>
                    <div class="col-lg-12 row-pad">
                      <div class="box-heading second-level"><i class="fa fa-thumb-tack"></i>
                        Také
                      </div>
                      <div class="box-inside second-level">
                        <table id="edit_form_alsos_table">
                          <thead>
                            <tr>
                              <th>Jazyk</th>
                              <th>Také</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="ttmpl" style="display: none;">
                              <td style="width: 5%">
                                <select title="dvoumístný kód jazyk" class="lng required form-control lng-code">
                                  <option value="cs">cs</option>
                                  <option value="sk">sk</option>
                                  <option value="en">en</option>
                                  <option value="de">de</option>
                                  <option value="fr">fr</option>
                                  <option value="ru">ru</option>
                                </select>
                              </td>
                              <td style="width: 100%">
                                <input title="také / also" type="text" class="also required link form-control td-input" />
                              </td>
                              <td>
                                <button type="button" class="btn btn-default" onclick="$(this).closest('tr').remove(); return false;">
                                  <span class="glyphicon glyphicon-remove"></span>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <button type="button" class="btn btn-default" onclick="add_input(this); return false;">
                          <span class="glyphicon glyphicon-plus"></span>
                        </button>
                      </div>
                    </div>
                    <div class="col-lg-12 row-pad">
                      <div class="box-heading second-level"><i class="fa fa-thumb-tack"></i>
                        Viz
                      </div>
                      <div class="box-inside second-level">
                        <table id="edit_form_sees_table">
                          <thead>
                            <tr>
                              <th>Jazyk</th>
                              <th>Viz</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="ttmpl" style="display: none;">
                              <td style="width: 5%">
                                <select title="dvoumístný kód jazyk" class="lng required form-control lng-code">
                                  <option value="cs">cs</option>
                                  <option value="sk">sk</option>
                                  <option value="en">en</option>
                                  <option value="de">de</option>
                                  <option value="fr">fr</option>
                                  <option value="ru">ru</option>
                                </select>
                              </td>
                              <td style="width: 100%">
                                <input title="viz / see" type="text" class="see required link form-control td-input" />
                              </td>
                              <td>
                                <button type="button" class="btn btn-default" onclick="$(this).closest('tr').remove(); return false;">
                                  <span class="glyphicon glyphicon-remove"></span>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <button type="button" class="btn btn-default" onclick="add_input(this); return false;">
                          <span class="glyphicon glyphicon-plus"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="row row-pad">
            <div class="col-lg-12 edit-mode">
              <div class="box-heading"><span class="glyphicon glyphicon-comment"></span>
              Komentář k úpravě</div>
              <div class="box-inside">
                <div class="input-group comment">
                  <input title="komentář" type="text" id="note_comment" class="form-control" />
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="buttons">
          <button type="button" onclick="save_id(); return false;" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Uložit
          </button>
          <button type="button" onclick="storno(); window.scrollTo(0, 0); return false;" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Neukládat
          </button>
          <button type="button" onclick="delete_id(); return false;" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-trash"></span> Smazat
          </button>
        </div>
      </div>
    </div>
  </div>
</form>

