<div class="intro">
	<h2>Terminologický slovník NIPI</h2>
<p>Datum registrace: 18. 1. 2019
<br/>Datum poslední změny: 19. 2. 2019
<br/>Počet termínů: 4720
<br/>Adresa:https://public21-188.cloud.ics.muni.cz:8040
<br/>ID: nipi
</p>
<p>Terminologický výkladový slovník pro potřeby realizace Akčního plánu Strategie rozvoje infrastruktury pro prostorové informace v České republice do roku 2020


</div>

