.titem, .edit-row{
  padding-left: 15px;
}
.intro{
    padding: 0 30px;
}
.intro>h2{
    border-bottom: 2px solid #E7E7E7;
    margin-bottom: 15px;
}
#index-wrap {
    /*height:600px;*/
    overflow: auto;
    max-width: 900px !important;
    margin: 0 auto;
}

#index-content {
    float: left;
    width: 95%;
    height: auto;
    margin: 20px 20px 20px 20px;
}

#splitter {
    max-width: 1200px !important;
    margin: 0 auto;
}

#splitter-content-0 {
  padding-top: 10px;
  border: 1px solid #E7E7E7;
}

#splitter-content-1 {
  overflow: hidden;
}

.search {
    width: 100%;
    padding: 5px 0px 5px 0px;
    border-color: rgba(102, 142, 185, 1);
    border-width: 3px 0px 3px 0px;
    background-color: rgba(164, 209, 237, 0.42);
}

.ui-widget {
    font-size: 13px !important;
}

.ui-state-focus {
    background-color: #D9E0E6 !important;
    background-image: none !important;
    border: none !important;
}

.search-bar,
.search-result {
    width: 700px;
    margin: 0 auto;
}

.search-bar form {
    padding: 0px;
}

.search-result {
    display: none;
    position: relative;
    padding: 6px;
    max-height: 200px;
    overflow-y: scroll;
}

.search-result a.close {
    position: absolute;
    right: -40px;
    top: 0px;
}

.search-result a.rtmpl {
    display: block;
    width: 78%;
    text-align: right;
    margin: 0px 0px 0px auto;
}

.search-bar label {
    width: 10%;
    display: inline-block;
}

.search-bar form div {
    float: right;
}

.search-bar form div a {
    margin-left: .5em;
}

#__header0 {    
    width: 0px;
    height: 0px;
}

#__header0-logoImg {
    display: none;
}

.sapUiAppHdr {
    overflow: visible !important;
}

.sapUiBody {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: normal;
    font-size: 15px;
    background-image: none;
    background-color: white;
}

.sapUiBodyBackground,
.sapUiBody {
    background-color: #FFF;
    background-image: none !important;
}

.sapUiTreeNodeSelected {
    color: #000;
    background-color: rgba(255, 255, 255, 0.9);
}

.sap-desktop::-webkit-scrollbar {
    width: 12px;
}

#html {
    padding: 0px;
}

a {
    color: #007cc0;
}

.clear {
    clear: both;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 0px;
    border-color: #555;
}

.box-heading {
    padding: 10px 10px 10px 15px;
    background-color: #D9E0E6;
    margin: 0px 0px 0px 0px;
    font-size: 18px;
}

fieldset {
    border: solid 1px black;
}

textarea {
    font-size: 85%;
}


/* wrap treenode */

.sapUiTreeNode {
    white-space: normal !important;
}


.hyperlink {
    margin-right: 6px;
}

#edit_form {
    font-size: 90%;
    border: 1px solid #DDDDDD;
    padding: 5px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.wrong_value {
    border-color: red;
}

.create_new {
    color: #AAA;
}

.create_new:hover {
    color: black;
}

.create_new:before {
    content: "+";
}
.buttons {
    padding: .5em;
}

fieldset table tbody tr td fieldset table tbody tr th {
    padding: 8px !important;
    font-size: 100%;
    font-weight: 200 !important;
}

table#conc_content {
    font-size: 80%;
    background-color: white;
    border-collapse: collapse;
}

table#conc_content tr:nth-child(2n) {
    background-color: #F7F7F7;
}

table#conc_content td {
    padding: 2px;
}

table#conc_content td.kw {
    color: #337ab7;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

table#conc_content td.lc {
    text-align: right;
    white-space: nowrap;
}

table#conc_content td.rc {
    text-align: left;
    white-space: nowrap;
}
.navbar-default {
background-color: rgb(153, 153, 153) !important
}
#splitter-content-0 {
background-color: rgb(153, 153, 153) !important
}
.sapUiTreeNodeContent {
color:white !important;
}
.navbar-default .active>a {
background: #232841 !important;
}
.navbar-default .navbar-nav>li>a{
color:white !important;
text-transform: uppercase;
}
.navbar-brand>img {
    height: 33px;
    width: auto;
    margin-top: -6px;
}

.navbar-collapse,
.search-wrapper,
.navbar-form {
    padding: 0 !important;
}

.new-term-button {
    margin-right: 15px;
}

.admin-buttons {
    margin-bottom: 20px;
    text-align: right;
}

.search-wrapper>form,
.search-wrapper>form>.input-group {
    width: 100%;
}

#search-field {
    width: 50%;
    display: block;
}

.search-buttons {
    width: 30% !important;
    display: block !important;
    float: left !important;
}

.search-buttons>button {
    width: 100%;
}


.sapUiTreeNodeContent {
    cursor: pointer !important;
}

.sapUiTreeNodeExpanded.sapUiTreeNodeSelectedParent:Hover, .sapUiTreeNodeExpanded.sapUiTreeNodeSelected:Hover, .sapUiTreeNodeExpanded.sapUiTreeNode:Hover {
    background-color: #005280 !important;
}

.sapUiTreeNodeSelectedParent, .sapUiTreeNodeSelected {
    background-color: #DEDCDC !important;
}


/* terminologický */
.badge-1{ 
  background-color: #1f77b4 !important;
}

/* používaný */
.badge-2{
  background-color: #2ca02c !important;
}

/* používaný nezpracovaný */
.badge-3{
  background-color: #bcbd22 !important;
}

/* odmítnutý */
.badge-4{
  background-color: #d62728 !important;
}

/* automatický */
.badge-5{
  background-color: #7f7f7f !important;
}

h1{
  border-bottom: 2px solid silver;
}

ol {
  list-style-position: inside;
  padding: 0;
}

.defs{
  margin: 10px 0 0 0;
}

.defs>ol{
  border-bottom: 2px solid #E2E2E2 !important;
}

.def{
  padding: 10px;
  background-color: #F3F3F3;
  margin: 0 0 10px 0;
}

.badge-trans{
  width: 40px !important;  
}

.box-inside>.box-line{
  display: block;
  margin: 5px 0 5px 10px;
  width: 90%;
}

.box-inside>ul {
  padding-left: 37px !important;
}

.ui-menu-item.ui-state-focus{
  background-color: silver !important;
}

#notes-detail{
    font-size: 14px !important;
}

#notes-detail .col-lg-2, #notes-detail .col-lg-3, #notes-detail .col-lg-7 {
    padding: 0;
}

#notes-detail .col-lg-3{
    text-align: center;
}

#notes-detail .glyphicon{
    padding-right: 5px;
}

#notes-detail>.row{
    margin: 10px 0 0 0;
}

.glyphicon-user{
    margin-right: 5px !important;
}

.glyphicon-minus{
    font-size: 10px !important;
}

.doms>.box-inside>ul>li, .refs>.box-inside>ul>li{
    margin-top: 10px;
}

.box-inside{
    border: 1px solid #E4E4E4;    
}

.trans{
    width: 95%;
}

.notes>.box-heading{
    background-color: #E4E4E4;
    color: #444444;
}

.show-hide-button{
    padding: 2px 0px 0px 16px;    
    background-color: #F5F5F5;
    cursor: pointer;
}

.hide-this {
    display: none;
}

#conc_content{
    width: 100% !important;
}

#conc-button{
    text-decoration: none;
    color: black;
}

.box-heading.second-level{
    font-size: 16px;
    background-color: white;
    color: #616161;
    text-align: center;
}

.box-inside.second-level{
    padding: 10px;
}

.sees .box-inside.second-level, .alsos .box-inside.second-level{
    width: 100%;
}

.label-center{
    text-align: center;
}

.links>.box-inside{
    border:none;
}

.label-primary{
    background-color: #C3D3E1 !important;
}

.second-level>.label{
    display: block !important;
    text-align: left !important;
    max-width: 100% !important;
    white-space: normal !important;
    padding: 7px !important;
    margin-bottom: 5px !important;
}

.link-box>a{
    margin: 0 0 10px 0;
}

.links>.box-inside>.row>.hypers{
    padding-right: 1px; 
}

.hypers>.box-inside{
    padding: 15px 10px;
}
.box-inside.second-level{
    float:none;
    display: inline-block;
    vertical-align: top;
}
.hypers>.wrapper{
    text-align: center;
}
.hyperlink.label-active{
    margin:0;
}
.alert-info>p{
    display: inline !important;
    margin-left: 5px !important;
}

#required_message{
    display: none;
}

.label-box{
    display: inline-block;
    padding: 6px 12px;
    margin: 5px 0;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    vertical-align: middle;    
    border-radius: 4px;
    text-decoration: none !important;
    color:white;
}

.label-active{
    background-color: #5A97CC;
    border: 1px solid #3A80BC;
    cursor: pointer;
    color:white !important;
}

.label-active>a{
    color: white !important;
}

.label-box.label-nonactive{
    background-color: #C8C8C8;
    border: 1px solid #ADADAD;    
    color: #4B4B4B;
}

.label-active:hover{
    background-color: #305D84;
    color: white;
}

.label-triangle{
    width: 100%;
    margin:0;
}

.alert-info{
    color: #8F6931 !important;
    background-color: #F7F3D9 !important;
    border-color: #F1EFBC !important;
    margin-bottom: 0 !important;
}

#notes-detail{
    padding: 10px 0 20px 0;
}

.synonyms>.box-inside>a{
    display: inline-block;
    padding: 6px 12px;
    margin: 5px 0;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    vertical-align: middle;    
    border-radius: 4px;
    text-decoration: none !important;
    color: #5D5D5D;
    border: 1px solid #ADADAD;    
}

.synonyms>.box-inside, .concordance>.box-inside{
    padding: 10px 10px 15px 15px;
}

form .edit-mode{
    margin: 20px 0 10px 0;
}

.edit-mode .comment{
    width: 100%;
}

.comment>input {
    width: 100%;
}

.lng-code{
    padding: 5px !important;
    width: 55px !important;
}

.td-input{
    width: 100%;
}

.not-button, .not-button:hover{
    font-size: 15px !important;
    cursor: inherit !important;
    border: transparent !important;    
    background-color: transparent !important;
}


.ttmpl{
    width: 100%;
}

.td-textarea{
    width: 85%;
}

.input-abbr {
    width: 40% !important;
    margin: 0 15px !important;
}

.term-info-text {
    font-weight: bold;
    padding-left: 3px;
}

#footer-logo{
    width: 100px;
    height: auto;
    margin: 20px 20px 10px 20px;
}

#footer-logo-tacr{
    width: 80px;
    height: auto;
    margin: 0 10px 0 0;
}

#footer-logo-beta{
    width: 100px;
    height: auto;
}
.tacr{
    background-color: white;
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
}

.footer-tezk{
    color: black;
}

.footer-nlp{
    margin-top: 50px;
    font-size: 12px;
}

footer{
    background-color: #F8F8F8;
    text-align: center;
    margin: 50px 0 0 0;
    padding: 30px;
    color: #676767;
    font-weight: bold;
}

#reference_result>.box-heading, #index-content .box-heading{
    background-color: #F8F8F8;
}

#index-content ul>li{
    padding: 5px;
}

#reference_result>.box-inside{
    padding: 15px;
}

.data-entries {
    text-align: center;
}

.stats-text {
   margin: 40px 0;
}

.stats-inside{
   padding: 20px;
}

.refs-heading{
   color: white !important;
   background-color: grey !important;
}

.refs-inside{
   background-color: #F8F8F8;
}

.data-langs{
    width: 70%;
}

#data table{
    width: 100%;
}

#data td, #data th {
    padding: 5px !important;
}

#data td{
    border: 1px solid #E7E7E7;
}

.wrong_value{
    background-color: #F2DEDE !important;
    border: 1px solid #D08684 !important;
}
.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content{
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.6;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
} 

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    background:rgba(0,0,0,0.6);
    z-index:5;
    width: 100%;
    height: 100%;
    display:none;
}
#overlay>.alert {
    text-align: center;
    position: relative;
    top: 30%;
    margin: 0 auto;
    z-index: 10;
    width: 50%;
}

.random{
    list-style: none;
    padding: 10px 10px 15px 5px;
}

#edit_div{
   margin-top: 40px; 
}

.row-pad{
   margin-top: 25px; 
}

#loading-stats {
    margin-bottom: 30px;
}

#loading-stats .progress{
    margin: 10px 0 0 0;
}

@media (max-width: 1200px){
    .trans{
        width: 100% !important;
    }
}
